<!-- #PACKAGE -->
<section class="package" id="package">
    <div class="container">

        <p class="section-subtitle">Popular Packages</p>

        <h2 class="h2 section-title">Checkout Our Packages</h2>

        <p class="section-text">
            Fusce hic augue velit wisi quibusdam pariatur, iusto primis, nec nemo, rutrum. Vestibulum cumque
            laudantium. Sit ornare mollitia tenetur, aptent.
        </p>

        <ul class="package-list">

            <% packagesData.forEach((package, index)=> {
                %>
                <li>
                    <div class="package-card">

                        <figure class="card-banner">
                            <img src="<%= package.image %>" alt="<%= package.altText %>" loading="lazy">
                        </figure>

                        <div class="card-content">

                            <h3 class="h3 card-title">
                                <%= package.title %>
                            </h3>

                            <p class="card-text">
                                <%= package.description %>
                            </p>

                            <ul class="card-meta-list">
                                <li class="card-meta-item">
                                    <div class="meta-box">
                                        <ion-icon name="time"></ion-icon>
                                        <p class="text">
                                            <%= package.duration %>
                                        </p>
                                    </div>
                                </li>
                                <li class="card-meta-item">
                                    <div class="meta-box">
                                        <ion-icon name="people"></ion-icon>
                                        <p class="text">pax: <%= package.capacity %>
                                        </p>
                                    </div>
                                </li>
                                <li class="card-meta-item">
                                    <div class="meta-box">
                                        <ion-icon name="location"></ion-icon>
                                        <p class="text">

                                            <%= package.location %>
                                        </p>
                                    </div>
                                </li>
                            </ul>

                        </div>

                        <div class="card-price">
                            <div class="wrapper">
                                <p class="reviews">(<%= package.reviews %> reviews)</p>
                                <div class="card-rating">
                                    <% for (let i=0; i < package.rating; i++) { %>
                                        <ion-icon name="star"></ion-icon>
                                        <% } %>
                                </div>
                            </div>
                            <p class="price">$<%= package.price %> / per person</p>
                            <button class="btn btn-secondary">Book Now</button>
                        </div>

                    </div>
                </li>
                <% }); %>

        </ul>

        <button class="btn btn-primary" id="viewAllPackages">View All Packages</button>

    </div>
</section>